/* * {
    outline: 1px solid tomato;
} */

body {
    overflow-x: hidden;
    height: 300vh;
}

.Wrap {
    min-width: 1900px;
}

#header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;

    padding: 0 200px;

    line-height: 100px;
    background: #fff;
}

#header .gnb>ul {
    display: flex;
}

#header .gnb>ul>li {
    position: relative;
}

#header .gnb>ul>li a {
    display: block;
    text-align: center;
    padding: 0 20px;
}

#header .gnb .submenu {
    position: absolute;
    top: 100px;
    left: 50%;

    transform: translate(-50%, 0);

    line-height: 35px;
    width: 130px;
    padding: 20px 0;

    display: none;
}

#header .gnb:hover>ul>li .submenu {
    display: block;
}

#header .gnb::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 0;
    background: #f9f9f9;
    border-top: 1px solid #ddd;
}

#header .gnb>ul>li .submenu li~li a {
    border-top: 1px solid #ddd;
}

#header .gnb:hover::before {
    height: 220px;
}

/* header */

.mainVisual {
    position: relative;
    background: url(../img/main_visual01.jpg) no-repeat center center/cover;
    height: 500px;
}

.mainVisual .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.mainVisual .slogan h2 {
    color: #fff;
    font-size: 40px;
    font-weight: bolder;
    margin: 0 0 20px 0;
}

.mainVisual .slogan p {
    color: #fff;
    font-size: 15px;
}

/* mainVisual */

.mainContent {
    padding: 100px 0;
}

.mainContent h2 {
    font-size: 25px;
    font-weight: bold;
    margin: 0 0 10px 0;
    text-align: center;
}

.mainContent p {
    font-size: 15px;
    text-align: center;
    margin: 0 0 30px 0;
}

.mainContent .inner {
    display: flex;
    gap: 30px;
    width: 1200px;
    margin: 0 auto;
}

.mainContent .inner figure {
    flex: 1;
}

#footer {
    padding: 30px 0 60px 0;
    background: #333;
    color: #fff;
    text-align: center;
}