/* #header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 999;
} */

#header h1 {
    line-height: 120px;
    text-align: center;
}

#header .gnb {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

#header .gnb>ul {
    display: flex;
    justify-content: center;
    line-height: 40px;
    text-align: center;
}

#header .gnb>ul>li~li {
    border-left: 1px solid #ddd;
}

#header .gnb>ul>li>a {
    display: block;
    padding: 0 30px;
}

/* header */
.sec {
    min-height: 700px;
    background: transparent;
}

.gonggal {
    height: 150vh;
}

.sticky {
    position: sticky;
    top: 400px;
    font-size: 50px;
    font-weight: 700;
    height: 0;
    /* color: #fff; */
}

/* header */

#footer {
    position: sticky;
    top: 0;
    border-top: 1px solid #ddd;
    text-align: center;
    padding: 30px 0 50px 0;
}